.favourite-pokemon-container{
    position: relative;
}

.favourite-text{
    text-align: center;
    color:white;
    font-size: x-large;
    font-weight: bold;
}

.no-favourites{
    text-align: center;
    color:white;
    font-size: x-large;
    font-weight: bold;
}