footer{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 2rem;

    div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:35%;
    height:auto;
    
    p.footer-text{
        text-align: center;
    }
}
}