div.arrow-container {
    cursor: pointer;
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 3rem;
    height: 3rem;
    background-image: linear-gradient(blue, darkblue);
    border-radius: 50%;
    @include flex-center;
    transition: background-image 5000ms ease-in-out;
}

div.arrow-container:hover {
    background-image: linear-gradient(purple, indigo);
}

.left-arrow {
    color: white;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}


.big-searched-pokemon-container{
    position: relative;
}

.searched-pokemon-container {
  @include flex-center;
  flex-direction: row;
  flex-wrap: wrap; // Prevents overlap if there's not enough space

  div.inner-search-pokemon-container { 
    color: black;
    background-color: white;
    max-width: 60%;
    padding: 2rem;
    margin: 5rem;
    border-radius: 5rem;

    div.deepest-search-pokemon-container { // Nested div
      @include flex-center;
      max-width: 95%; // <-- Prevent full width inheritance
      margin: 1rem auto;
    }
  }
}

.pokemon-name{
    text-align: center;
}

.image-container{
    padding: 1rem;
}

.selected-pokemon-image{
    width: 20rem;
    height: auto;
}

h2.stat-text{
    @include flex-center;
}

.pokemon-stats{
    display: flex;
    flex-direction: column;
    border: solid black;
    border-radius: 1rem;
    width: 15rem;
    min-width:13rem;
    ul.stats{
        width:100%;
        margin: 0rem;
        padding: 0rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-top: solid black;
        display: flex;
        align-items: baseline;
        flex-direction: column;
        li{
            list-style-type: none;
            padding-left:2rem;
        }
    }
}

.pokemon-types {
    padding: 0rem !important ;
    ul{
        display: flex;
        flex-direction: column;
        list-style: circle;  // Ensure list style is applied to UL
        padding-left: 2rem;  // Add padding so bullets are visible
    } 
}

ul.types{
    @include flex-center;
    flex-direction: row;
    li.list-pokemon-types{
        display: inline-block;
    }
}

.type-text{
    font-size:large;
    text-align: center;
    font-weight: bold;
}
